---
layout: note.njk
title: "Books"
stylesheet: "/static/css/note_list.css"
---
<div id="notes">
    {% for note in collections.books | reverse %}
    <div class="note">
        <h2>
            <a href="{{ note.page.url }}">
                {{ note.data.title }}
            </a>
        </h2>
        {% if note.data.preview %}
        <p>
            {{ note.data.preview }}
        </p>
        {% endif %}
        <hr />
    </div>
    {% endfor %}
</div>
