---
layout: base.njk
stylesheet: /static/css/index.css
---
<h1 id="title">Abdullah's Blog</h1>
<p id="subtitle">
    I love many things and make simple stuff. Welcome to my blog.
</p>
<div class="posts">
    {% for post in collections.posts %}
    <div class="post">

        <a href="{{ post.url }}" class="post-title">
            <i class="ti ti-writing"></i>
            <span class="title-text">
                {{ post.data.title }}
            </span>
        </a>
        <div class="post-info">
            <p>
                {{ post.data.preview }}
            </p>
            <p class="post-date">
                {{ post.date | readableDate }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
