<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}{% if title %} - {% endif %}Brainforest - Abdullah Alam</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">

    <!-- Base Stylesheet -->
    <link rel="stylesheet" href="/static/css/base.css">

    <!-- Page stylesheet -->
    {% if stylesheet %}
    <link rel="stylesheet" href="{{ stylesheet }}">
    {% endif %}

    <!-- Google Font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    </style>

    <!-- Tabler Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />

</head>

<body>
    <!-- decor -->
    <!-- circles -->
    <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="decor" id="circle-one">
        <circle cx="12" cy="12" r="10" />
    </svg>
    <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="decor" id="circle-two">
        <circle cx="12" cy="12" r="10" />
    </svg>
    <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="decor" id="circle-three">
        <circle cx="12" cy="12" r="10" />
    </svg>

    <!-- ring -->
    <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" class="decor" id="ring-one">
        <circle cx="12" cy="12" r="8" fill="none" stroke="currentColor" stroke-width="2" />
    </svg>

    <!-- triangle -->
    <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor" class="decor" id="triangle-one">
        <polygon points="12 4 4 17.856 20 17.856" />
    </svg>

    <div id="menu-bar">
        <a class="menu-item hidden" id="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
            </svg>
        </a>

        <a href="/" class="menu-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                class="icon icon-tabler icons-tabler-filled icon-tabler-home">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12.707 2.293l9 9c.63 .63 .184 1.707 -.707 1.707h-1v6a3 3 0 0 1 -3 3h-1v-7a3 3 0 0 0 -2.824 -2.995l-.176 -.005h-2a3 3 0 0 0 -3 3v7h-1a3 3 0 0 1 -3 -3v-6h-1c-.89 0 -1.337 -1.077 -.707 -1.707l9 -9a1 1 0 0 1 1.414 0m.293 11.707a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883 -.993l.117 -.007z" />
            </svg>
            <span>Home</span>
        </a>

        <a href="/about-this-digital-forest" class="menu-item" id="about">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                class="icon icon-tabler icons-tabler-filled icon-tabler-info-circle">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 9h-1l-.117 .007a1 1 0 0 0 0 1.986l.117 .007v3l.007 .117a1 1 0 0 0 .876 .876l.117 .007h1l.117 -.007a1 1 0 0 0 .876 -.876l.007 -.117l-.007 -.117a1 1 0 0 0 -.764 -.857l-.112 -.02l-.117 -.006v-3l-.007 -.117a1 1 0 0 0 -.876 -.876l-.117 -.007zm.01 -3l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z" />
            </svg>
            <span>About</span>
        </a>
    </div>
    {{ content | safe }}

    <script src="/static/js/menubar.js"></script>
</body>

</html>
