---
layout: base.njk
stylesheet: "/static/css/index.css"
---
<h1 id="title">Abdullah's Brainforest</h1>
<p id="subtitle">I love many things and make simple stuff. Welcome to my <a href="/about-this-digital-forest">digital forest.</a></p>
{{ content | safe }}
