@use "./vars";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: vars.$background;
  color: white;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin-top: 8rem;
  margin-left: 30vw;
  width: 30%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: vars.$link-color;
  text-decoration: none;

  &:hover {
    color: vars.$link-hover-color;
  }
}
