$space-indigo: #283044;
$mint-cream: #ebf5ee;
$steel-blue: #78a1bb;
$khaki-beige: #bfa89e;
$taupe: #8b786d;

$muted-olive: #9FC490;
$celadon: #AFCEA1;

$light-black: #1a1a1a;
$lighter-black: #202020;
