@use "./vars";

#title {
  font-size: 5rem;
  margin-bottom: 0;

  @media screen and (max-width: 550px) {
    line-height: 4.5rem;
  }

  @media screen and (max-width: 650px) {
    overflow-wrap: break-word;
    hyphens: auto;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

#subtitle {
  margin-top: 0;
  margin-bottom: 2rem;
}
