---
layout: photography.njk
---
<div id="grid">
    {% for photo in collections.photography %}
        <img 
            src="{{ photo.data.image }}" 
            class="photograph"
            data-location="{{ photo.data.location }}"
            data-camera="{{ photo.data.camera }}"
            data-content="{{ photo.content }}"
        >
    {% endfor %}
</div>

<div id="photomodal" class="hidden">
    <img src="/photography/media/toronto.jpg" id="modal-photograph">

    <div id="info-div">
        <i class="ti ti-x" id="close-button"></i>
        {{ Hello }}
    </div>
</div>

<script src="/static/js/photomodal.js"></script>